.container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height:80vh;
    align-items: center;
    justify-content: space-around;


    @include laptopS{
        flex-direction: column;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
       }
    }



.container-item-1{
    max-width: 580px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    
    

    @include laptopS{
        align-items: center;
    }

    @include smartphoneS(){
        h1{
            margin-top: 20vh;
        }
    }

    @include smartphoneL(){
        h1{
            text-align: center;
            font-size: 70px;
        }
    }

    h1{
        font-size: 72px;
        padding-bottom: 32px;
        color: $green;
    }

    p{
        font-size: 36px;
        color: $green;
        text-align: justify;

        @include smartphoneS(){
            font-size: 24px;
            text-align: center;
        }
    }
}



container-item-2{
    padding-right: 20px;
    display: flex;
    align-content: center;
    
    img{
        margin-left: 100px;
    }
}


.background{
    background-color: $echo;
}

.container-2{
    max-width: 1440px;
    margin: 0 auto;
    padding: 36px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include laptopS{
        margin-right: 20px;
    }


    &::selection{
        background: none;
    }
}


.container-item-2{
    z-index: 999;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    @include smartphoneL{
        h1{
            text-align: center;
            margin-top: 5vh;
        }
    }

    @include tablet(){
        p{
            font-size: 16px;
            text-align: center;
        }
    }


    h1{
        margin-bottom: 10px;
        font-size: 48px;
    }

    p{
        font-size: 24px;
        margin-bottom: 30px;
    }

    @include smartphone(){
        width: 90vw ;
    }
}


.card{ 
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 5%;
    margin-left:60px;
    color: $white;
    border-radius: 27px;
    box-shadow: 1px 10px 15px -10px black;
    transition: .3s ease-in;
    background-color: $white;
    position: relative;


    


    @include smartphoneL(){

        svg{
            width: 250px;
        }
        margin-left: 50px;
    }

    @include tablet(){
            width: 350px;
            margin-left: 50px;

            p{
                font-size: 22px;
            }
        }

    @include tabletS(){
        width: 300px;
        margin-left: 30px;
            
        p{
            font-size: 22px;
        }
    }

   

    @include smartphone(){
        width: 400px;
        height: 500px;
        margin-top: 30px;
    }


    @include smartphoneFold(){
        width: 300px;
    }
    &::selection{
        background: none;
    }
}

.card:hover{
        transform: scale(1.2);
        z-index: 999;

        @include tabletS(){
            transform: scale(1.0);
        }
}


.card-image{
    position: relative;

    &::selection{
        background: none;
    }

    img{
        left: 0;
        width: 100%;
        border-radius: 8px 8px 0px 0px;

        &::selection{
            background: none;
        }
        
    }

}

.name{
    position: absolute;
    color: $green;
    margin-left: 8px;
    font-size: 24px;
    margin: 24px;
    z-index: 1;

    &::selection{
        background: none;
    }
}

    .comment{
        margin-top: 12%;
        font-size: 22px;
        padding: 20px;
        padding-bottom: 5px;
        color: $green;
    }


    .container-item-3{
        display: flex;

        @include laptop{
            margin-left: -4vw;
           }

           @include tabletS(){
            margin-left: -2vw;
        }

        @include smartphone(){
            flex-direction: column;
        }

        }
    

    .container-item-4{
        z-index: 999;
        color: $white;
        display: flex;
        margin-top: 20vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        h1{
            margin-bottom: 10px;
            font-size: 48px;
        }
    
        p{
            font-size: 24px;
            margin-bottom: 30px;

            @include smartphoneS(){
                font-size: 18px;
                text-align: center;
            }
        }
    }

    h1{
        margin-bottom: 10px;
        font-size: 48px;
    }

    p{
        font-size: 24px;
        margin-bottom: 30px;
    }

.container-item-5{
    max-width: 1440px;



    @include laptop{
        margin-left: -10vw;
       }

       @include tabletS(){
        margin-left: -240px;
    }

    @include smartphoneS(){
        margin-left: -36vw;
    }
}

.lottie{
    @include smartphoneL(){
        display: none;
    }
}

.lottie1{
    display: none;
    @include smartphoneL(){
        display: block;
        margin-left: 45vw;
        
    }
}


.paragraph{
    color: $white;
    font-size: 32px;
    margin-left: 6vw;

    @include laptop{
        font-size: 24px;
       }
}


.container-4{
    bottom: -90px;
    margin-right: 10vw;
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;



    @include smartphoneL{
        margin-right: 0vw;
    }

    @include laptop{
        margin-right: 5vw;
       }

       @include smartphone(){
        flex-direction: column;

        p{
          text-align: center;  
        }
    }
}

.container-item-6{
    font-size: 24px;
}


.line{
    size: 50px;
    color: red;
}

.spacing{
    height: 10vh;
}