.formulario{
    max-width: 1440px;
    border: 1px solid $green;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    border-radius: 40px;
    background-color: $white;
    z-index: 1;
}


.title{
    font-size: 64px;
    color: $echo;
    text-align: center;
    align-items: center;
} 

.input-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    color: $echo;


    input{
        width: 25vw;
        height: 6vh;
        margin: 1vw;
        border-radius: 10px;
        border-color: $echo;
        font-size: 20px;
        text-align: center;
        color: $green;

        &::placeholder{
            font-size: 20px;
            text-align: center;
        }
    }
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    label{
        margin-left: 10px;
    }
}


.btncrud{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    button{
        margin: 30px;
        width: 300px;
        height: 50px;
        border-radius: 10px;
        border-color: $echo;
        color: $white;
        font-size: 28px;
        background-color: $echo;
        cursor: pointer;
        box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
    }
}


table{
    max-width: 1440px;
    justify-content: center;
    margin: 20px;
    width: 1000px;
    table-layout: fixed;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;  
    
    th{
        border: 1px solid $echo;
        padding: 10px;
        background-color: $echo;
        color: $white;
        font-size: 24px;
    }
    
    td{
        padding: 10px;
        border: 1px solid $echo;
        font-size: 28px;
        color: $echo;
        text-align: center;
    }
}



.spacing{
    margin-left: 10px;
}


.wave{
    position: static;
    margin-top: -10vh;
}

.green{
    background-color: $echo;
}

.ud{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}