.container-account{
    position: relative;
    flex-direction: row;
    z-index: 1;
    margin-top: 5vh;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: 1px solid $green;
    border-radius: 40px;
    background-color: $white;

    @include laptop(){
        width: 1350px;
    }

    @include tablet(){
        width: 1250px;
        margin-top: 3vh;
    }

    @include tabletS(){
        margin-top: 45vh;
        flex-direction: column;
        width: 900px;
        height: 1200px;
        margin-bottom: 5vh;
    }

    @include smartphone(){
        width: 800px;
        margin-left: 10vw;
        
    }

    @include smartphoneS(){
        width: 650px;
        margin-top: 90vh;
        margin-left: 30vw;
    }

    @include smartphoneFold(){
        width: 550px;
        margin-left: 40vw;
    }

    @include smartphone375(){
        margin-top: 70vh;
    }
}

.container-left{
    color: $green;
    margin-left: 50px;
    margin-top: 30px;


    label{
        font-size: 24px;

        @include tablet(){
            font-size: 20px;
        }

        @include tabletS{
            font-size: 26px;
        }
    }

    p{
        @include tablet(){
            font-size: 20px;
            margin-left: 2px;
        }

        @include tabletS{
            font-size: 26px;
        }

        @include smartphoneS(){
            font-size: 20px;
        }
    }

    h1{
        margin-bottom: 0px;

        @include tablet(){
            font-size: 32px;
        }

        @include tabletS{
            font-size: 52px;
        }

        @include smartphoneS(){
            font-size: 42   px;
        }

        @include smartphoneFold(){
            font-size: 36px;
        }
    }

    @include tabletS(){
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }
}


.first-row{
    display: flex;  
    flex-direction: row;
    margin-top: 4vh;


    @include tabletS{
        justify-self: center;
    }
}


.column{
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
}




.format{
    
    input{
        width: 300px;
        height: 50px;
        border: 1px solid $green;
        border-radius: 5px;
        font-size: 24px;
        color: $green;


        @include tabletS(){
            margin-left: 6vw;
        }

        @include smartphoneS(){
            margin-left: 2vw;
            width: 280px;
        }

        @include smartphoneFold(){
            width: 230px;
        }
    }

    label{
        @include tabletS{
            margin-left: 7vw;
        }

        @include smartphoneFold(){
            font-size: 20px;
        }
    }
}


.second-row{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.gender-input{
    @include tabletS{
        margin-left: 6vw;
    }
}


.checkbox-row{

    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-bottom: 20px;
    align-items: center;

    label{
        font-size: 26px;
        margin-right: 20px;
    }
}


.others{
    display: flex;
    align-items: center;
}


.radio{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.button{
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    p{
        margin-top: 6px;
        font-size: 16px;
        max-width: 700px;
        text-align: center;
    }

    @include smartphone(){
        margin-right: 8vw;
    }
}


.btncadastro{
    border: solid 1px $echo;
    background-color: $echo;
    padding: 20px 200px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    color: $white;
    transition: ease-in 0.3s;

    &:hover{
        transform: scale(0.99);
    }

    @include smartphoneFold(){
      padding: 10px 150px;
    }
    
}


.linha{
    position: fixed;
    height: 650px;
    border: 0.5px solid $echo;

    @include tablet(){
        height: 600px;
    }

    @include tabletS(){
        position: absolute;
        width: 700px;
        height: 0px;
        margin-left: 10vw;
        margin-bottom: 10px;
    }

    @include smartphoneS{
        width: 550px;
    }

    @include smartphoneFold(){
        width: 450px;
    }
}




.menu-login{
    color: $green;
    margin-left: 24px;

    label{
        font-size: 24px;

        @include tablet(){
            font-size: 20px;
            margin-left: 12px;
        }
    }

    p{
        @include tablet(){
            font-size: 18px;
            margin-left: 2px;
        }

        @include tabletS(){
            text-align: center;
            font-size: 26px;
        }

        @include smartphoneFold(){
            font-size: 20px;
            margin-right: 18vw;
        }
    }

    h1{
        margin-bottom: 0px;

        @include tablet(){
            font-size: 32px;
        }

        @include tabletS(){
            margin-top: 4vh;
            font-size: 52px;
            text-align: center;
        }

        @include smartphoneFold(){
            margin-right: 18vw;
        }
    }
}


.input-login{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    

    input{
        width: 350px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid $green;
        font-size: 24px;
        color: $green;

        @include tablet(){
            width: 300px;
        }

        @include smartphoneFold(){
            width: 230px;
            margin-left: 3vw;
        }

        

    }



}

.row{
    display: flex;
    flex-direction: column;     
}


.login-row{
    @include tabletS{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    }
}

#password{
    margin-top: 50px;
}


.input-row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    a{
        font-size: 16px;
        margin-left: 155px;
        color: rgb(2, 83, 235);

        @include tablet(){
            font-size: 14px;
            margin-left: 135px;
        }

        &:hover{
            text-decoration: underline;
        }

        @include smartphoneFold(){
            margin-left: 70px;
        }
    }

    
}

.buttonlogin{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    align-items: flex-start;

    p{
        font-size: 16px;
        margin-top: 40px;
    }

    @include laptop(){
        text-align: center;
    }

    @include tabletS(){
        margin-top: 8vh;
        
        align-items: center;
    }

    @include smartphone(){
        margin-top: 3vh;
    }

    
}

.btnlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px $echo;
    background-color: $echo;
    padding: 10px 80px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    color: $white;
    transition: ease-in 0.3s;
    

    &:hover{
        transform: scale(0.99);
    }

    @include tablet(){
        padding: 10px 60px;
    }
}






