.container-principal{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height:80vh;
    align-items: center;
    justify-content: space-around;

   @include tabletS{
       flex-direction: column;
       margin-top: 50vh;
   }

   @include smartphoneS{
       margin-top: 80vh;
   }

   @include smartphone360{
       margin-top: 95vh;
   }

   
}

.card-principal{ 
    display: inline-block;
    width: 400px;
    height: 550px;
    margin: 0 auto;
    margin-top: 5%;
    margin-left:60px;
    color: $white;
    border-radius: 27px;
    box-shadow: 1px 10px 15px -10px black;
    transition: .3s ease-in;
    background-color: $white;
    position: relative;

    &::selection{
        background: none;
    }


    @include tabletS{
        width: 400px;
        margin-left: auto;
    }

    @include laptopS(){
        width: 350px;

        p{
            font-size: 22px;
        }
    }

    @include smartphone360{
        width: 300px;
    }
}


.btngerenciamento{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $echo;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: $green;


    @include tabletS{
        margin-bottom: 10px;
    }
}


.btnrelatorio{
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-color: $green;
    border: 2px solid $green;
    box-shadow: 1px 10px 15px -10px black;
    width: 800px;
    height: 100px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 42px;
    color: $green;
    transition: .3s ease-in;


    @include tabletS{
        margin-top: 55vh;
    }

    @include smartphone{
        width: 600px;
        height: 100px;
        font-size: 38px;
    }

    @include smartphoneS{
        width: 500px;
        height: 100px;
        font-size: 38px;
        margin-top: 80vh;   
    }

    @include smartphoneFold{
        width: 400px;
    }

    @include smartphone375{
        width: 300px;
    }

    @include smartphone360{
        margin-top: 90vh;
    }

}


.waveprincipal{
    position: fixed;
    bottom: -90px;
    z-index: -1;

    @include tabletS{
        position: inherit;
    }
}