*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika',sans-serif;
}

@import "partials/colors";
@import "partials/responsive";

body{
    width: 100%;
    height: 100vh;
    background-color: $white;
}

img, svg{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color: $black;
}

.border{
    border: 1px solid red
}

p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 140%;
}

header{
    width: 100%;
    padding-top: 16px;
}

.navbar{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;

    @include laptop{
        margin-right: 20px;
    }

    @include smartphone(){
        display: block;
    }
}

input:focus{
    outline: none;
}

img{
    width: 100%;
}

.nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;

    @include tabletS(){
        margin-right: -25px;
    }

    @include smartphoneS(){
        margin-right: -125px;
    }
}

.nav-list{
    height: 45px;
    border-radius: 40px;
    border: 1px solid $green;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    list-style: none;
    display: flex;
    margin-left: 17vw;
    margin-right: 10vw;
    align-items: center;
    

    @include tablet(){
        margin-left: 20vw;
        margin-right: 15vw;
    }

    @include smartphone(){
        display: none;
    }

    li:nth-child(1){
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
    }   
  
}



.btnAcessar{
    display: flex;
    width: 130px;
    height: 45px;
    border: $green solid 1px;
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px #00000040;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: $green;
    transition: .5s ease;

    @include smartphone(){
        display: none;
    }

    &:hover{
        color: $white;
        background-color: $echo;
    }
}

.nav-link{
    opacity: 1;
    display: inline-block;
    padding: 12px 10px 13px 15px;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    color: $green;
    font-size: 16px;
    transition: .5s ease;

    @include smartphone(){
        display: none;
    }


    &:hover{
        color: $white;
        background-color: $echo;
    }
}

.burger{
    display: none;

    @include smartphone(){
        display: inline-block;
        margin-left: auto
    }
}



@import 'partials/carbono';
@import 'partials/login';
@import 'partials/Integrantes';
@import 'partials/menu';
@import 'partials/principal';
@import 'partials/veiculos';







